*{
  margin: 0;
  padding: 0;
  box-sizing: boarder-box;
  font-family: Times New Roman;
  text-decoration: none;
}
body{
  background-color: black;
}
#Header{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  color: white;
}
#logo{
  font-size: 45px;
  position: absolute;
  left: 20px;
}
#Header input{
  width: 180px;
  height: 25px;
  position: absolute;
  right: 55px;
  text-align: center;
  border: 0px;
}
#Header button{
  height: 25px;
  position: absolute;
  right: 20px;
  background-color: tomato;
  border: 0px;
}
#menu{
  width: 100%;
  height: 35px;
  display: flex;
  background-color: transparent;
  align-items: center;
  position: sticky;
  top: 0;
}
#menu a{
 color: white;
 padding-right: 12px;
 padding-left: 12px;
}
#menu h2{
  color: tomato;
  text-shadow: 5px tomato;
}
#menu a:hover{
  color: red;
  cursor: pointer;
}
#Home{
  width: 100%;
  height: 120vh;
  background-color: #2E1503;
  text-align: center;
  color: white;
}
#Home h2{
  padding-top: 100px;
  text-align: left;
}
#Img{
  background-size: 450px 350px;
  position: absolute;
  right: 10px;
}
footer{
  width: 100%;
  line-height: 30px;
  text-align:center;
  align-items: center;
}
footer a img{
  width: 35px;
  height: 35px;
}
footer a{
  color: white;
  pointer-events: cursor;
  padding-left: 17px;
  padding-right: 17px;
}
